<header>
    <app-header></app-header>
</header>
<main>
    <article>
        <h1>Loja Mágica</h1>
        <section>
            <p>Você não está na sua conta</p>
            <div id="login">
                <div class="button"><a>Login</a></div>
            </div>
            <div id="category">
                <button class="button2">VIP</button>
                <button class="button2">Especiais</button>
                <button class="button2">Pets</button>
                <button class="button2">Montarias</button>
                <button class="button2">Cosméticos</button>
            </div>
            <hr style="width: 100%;">
            <h2 id="contentText">Planos VIP:</h2>
            <p>Ainda não há produtos sendo vendidos nesta categoria.</p>
        </section>
    </article>
</main>
<footer>
    <app-footer></app-footer>
</footer>