article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://kom.nevercraft.com.br/img/options_background.png");
    margin: auto;
    height: 40rem;
    border: 3px solid gray;
    border-image: url("https://kom.nevercraft.com.br/img/simpleborder.png") 3.84% stretch;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
section{
    border: 5px solid gray;
    border-image: url("https://kom.nevercraft.com.br/img/simpleborder.png") 3.84% stretch;
    padding: 13rem;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    border: 3px solid gray;
    border-image: url('https://kom.nevercraft.com.br/img/simpleborder.png') 3.84% stretch;
}
h1{
    color: black;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    background-color: rgba(255, 255, 255, 0.616);
    height: 12rem;
    padding: 0 5rem;
}
label{
    color: black;
}
input{
    border: 3px solid gray;
    border-image: url("https://kom.nevercraft.com.br/img/simpleborder.png") 3.84% stretch;
    width: 20rem;
}
#solicitar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://imgur.com/TOvI0Ft.png");
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}