<header>
    <app-header></app-header>
</header>
<main>
    <article>
        <section>
            <form action="">
                <br>
                <h1>Solicite um reset de senha:</h1>
                <hr style="width: 100%;">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
                <div id="solicitar">Solicitar</div>
            </form>
        </section>
    </article>
</main>
<footer>
    <app-footer></app-footer>
</footer>
