<header>
    <app-header></app-header>
</header>
<main>
    <article>
        <section id="secSkills">
            <div id="skills">
                <p style="font-size: 12px;">A Staff da Rede Nevercraft, desenvolvedora atual do KoM, é experiente,
                    profissional, dedicada e inteligente. <br>
                    Nós trabalhamos com metas e objetivos claros em prol de desenvolver servidores de alta qualidade
                    para Minecraft. <br>
                    Os 3 Diretores, Erick Ferreira, Izael Junior e Cleberson Saller, são também os principais
                    desenvolvedores dos jogos, isto, somado a uma seleção de alto nivel para <br>
                    os cargos, garante que produzimos conteúdo de qualidade para vocês.</p><br>
                <hr style="width: 100%;">
                <h1 style="text-align: center;">Habilidades valorizadas</h1>
                <div id="graphic">
                    <label for="gerenciamento">Gerenciamento</label>
                    <div id="gerenciamento">81%</div>
                    <label for="devJav">Desenvolvimento em Java</label>
                    <div id="devJav">92%</div>
                    <label for="devWeb">Desenvolvimento para Web</label>
                    <div id="devWeb">87%</div>
                    <label for="planMecJog">Planejamento de Mecânicas de Jogo</label>
                    <div id="planMecJog">96%</div>
                </div>
            </div>
        </section>
        <h2>Nosso time</h2>
        <section id="ourTime">
            <div class="box">
                <p class="nick">Dillrander</p>
                <div id="diretorD">Diretor Desenvolvedor</div>
                <img src="https://minotar.net/helm/dillrander/100.png" alt="Head Dillrander">
            </div>
            <div class="box">
                <p class="nick">Leazi</p>
                <div id="diretorR">Diretor Roteirista</div>
                <img src="https://minotar.net/helm/leazi/100.png" alt="Head Leazi">
            </div>
            <div class="box">
                <p class="nick">Saller</p>
                <div id="diretorL">Diretor Logístico</div>
                <img src="https://minotar.net/helm/Saller/100.png" alt="Head Saller">
            </div>
            <div class="box">
                <p class="nick">PePastre</p>
                <div id="admB">Adminitrador Balanceador</div>
                <img src="https://minotar.net/helm/Pastre02/100.png" alt="Head PePastre">
            </div>
            <div class="box">
                <p class="nick">FelipeBan</p>
                <div id="coord">Coordenador</div>
                <img src="https://minotar.net/helm/FelipeBan/100.png" alt="Head FelipeBan">
            </div>
            <div class="box">
                <p class="nick">Portuga</p>
                <div id="builder">Construtor</div>
                <img src="https://minotar.net/helm/BerZ/100.png" alt="Head Portuga">
            </div>
            <div class="box">
                <p class="nick">Stoven</p>
                <div id="criadorC">Criador de Conteúdo</div>
                <img src="https://minotar.net/helm/Stoven/100.png" alt="Head Stoven">
            </div>
            <div class="box">
                <p class="nick">RaidezBr</p>
                <div class="balanceador">Balanceador</div>
                <img src="https://minotar.net/helm/RaidezBr/100.png" alt="Head RaidezBr">
            </div>
            <div class="box">
                <p class="nick">Fairexd</p>
                <div class="balanceador">Balanceador</div>
                <img src="https://minotar.net/helm/Fairexd/100.png" alt="Head Fairexd">
            </div>
            <div class="box">
                <p class="nick">Betata</p>
                <div id="programmer">Programador</div>
                <img src="https://minotar.net/helm/betata/100.png" alt="Head Betata">
            </div>
        </section>
    </article>
</main>
<footer>
    <app-footer></app-footer>
</footer>