body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    backdrop-filter: brightness(50%);
    width: 100%;
    min-height: 100vh;
    background-image: url("https://kom.nevercraft.com.br/img/minecraft.png");
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}