<header>
    <app-header></app-header>
</header>
<main>
    <article>
        <h1 id="welcome">Bem-Vindo, aventureiro</h1>
        <p style="text-align: center; color: orange;">IP: kom.nevercraft.com.br</p>
        <hr style="width: 5%;"><br>
        <section>
            <div id="borderTx">
                <h2>Knight of Minecraft</h2>
                <p> Knights of Minecraft é um servidor Épico de RPG, Hardcore e Factions. <br> Se prepare para embarcar
                    em uma aventura imersiva e desafiante, junte seus amigos ou faça novos companheiros e forme
                    poderosas Guilds para prosperarem e conquistarem o continente de Nova Aurora! E claro, isso enquanto
                    você desenvolve seu personagem para se tornar um Aventureiro <br> Épico, pronto para enfrentar os
                    desafios desta natureza hostil e acabar com aqueles que ousarem cruzar o seu caminho. <br><br>Venha
                    experienciar esta aventura conosco! </p>
            </div>
        </section>
        <div id="main">
            <div id="grid">
                <div class="col-2">
                    <div class="text-center p-3 border-round-sm bg-primary font-bold">
                        <img class="Tt" src="https://kom.nevercraft.com.br/img/learn.png" alt="Livro">
                        <div class="boxs">
                            <div class="boxsone">
                                <a href="https://knights-of-minecraft.fandom.com/pt-br/wiki/Knights_of_Minecraft_Wiki"
                                    target="_blank">Wiki</a>
                            </div>
                            <hr style="width: 100%;">
                            <p> Aprenda todas as mecânicas principais do Knights of Minecraft, desde as Classes, até as
                                Guilds, Econômia, Eventos, etc. </p>
                        </div>
                    </div>
                </div>
                <aside>
                    <div class="col-2">
                        <div class="text-center p-3 border-round-sm bg-primary font-bold">
                            <img class="Tt" src="https://kom.nevercraft.com.br/img/store.png" alt="Bau">
                            <div class="boxs">
                                <div class="boxsone"><a routerLink="loja">Loja</a></div>
                                <hr style="width: 100%;">
                                <p> Visite a Loja Mágica para comprar VIPs, Pets, Montarias e Itens Benéficos </p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </article>
</main>
<footer>
    <app-footer></app-footer>
</footer>